{% extends 'base.html' %}

{% block content %}
  <h1>Success!</h1>
  <p>The user has been added to the database.</p>
  <a href="{% url 'caretaker:add_user' %}">Add another user</a>

  <h2>List of Users</h2>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone_number }}</td>
          <td>{{ user.address }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
