
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% comment %} <link rel="stylesheet" href="style.css"> {% endcomment %}
    {% load static %}
		<link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
		<link rel="stylesheet" href="{% static 'vendors/owl.carousel/css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'vendors/owl.carousel/css/owl.theme.default.min.css' %}">
		<link rel="stylesheet" href="{% static 'vendors/aos/css/aos.css' %}">
		<link rel="stylesheet" href="{% static 'vendors/jquery-flipster/css/jquery.flipster.css' %}">
		

		<link rel="shortcut icon" href="images/favicon.png" />
    <style>
    </style>
    <body>
        <h1> hello</h1>
    </body>
    </html>